@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000000;
  box-sizing: border-box;
  color: #F6F6F6;
  /* height: 100vh; */
}

.titulo-destaque{
  color: #22D4FD;
  }

  /* APRESENTAÇÃO */
.apresentacao{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10%;
}
.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  width: 615px;
}
.apresentacao__conteudo__titulo{
  font-family: 'Krona One', sans-serif;
  font-size: 36px;
}
.apresentacao__conteudo__texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.apresentacao__links{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
}
.apresentacao__links__subtitulo{
  font-family: 'Krona One', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.apresentacao__links__link{
  /* background-color: #F6F6F6; */
  border-radius: 8px;
  border: 2px solid #22D4FD;
  color: #F6F6F6;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  width: 280px;
}
.apresentacao__links__link:hover{
  background-color: #272727;
}
.rodape{
  background-color: #22D4FD;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  padding: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
