@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
  /* CORES */
  --cor-primaria: #000000;
  --cor-secundaria: #F6F6F6;
  --cor-terciaria: #22D4FD;
  --cor-hover: #272727;
  --fonte-primaria: 'Krone One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}


*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--cor-primaria);
  box-sizing: border-box;
  color: var(--cor-secundaria);
}

.cabecalho{
  padding: 2% 0 0 10%;
}
.cabecalho__menu{
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link{
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

  /* APRESENTAÇÃO */
.apresentacao{
  align-items: center;
  display: flex;
  gap: 82px;
  justify-content: space-between;
  margin: 10%;
}
.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.apresentacao__conteudo__titulo{
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
}
.titulo-destaque{
  color: #22D4FD;
  }
.apresentacao__conteudo__texto{
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
}
.apresentacao__links{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  margin: 30px;
}
.apresentacao__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-size: 1.5rem;
  font-weight: 400;
}
.apresentacao__links__navegacao{
  border-radius: 8px;
  border: 2px solid var(--cor-terciaria);
  color: var(--cor-secundaria);
  display: flex;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
.apresentacao__links__link:hover{
  background-color: var(--cor-hover);
}
.apresentacao__imagem{
  width: 50%;
}

.rodape{
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  padding: 24px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px){
  .cabecalho{
    padding: 10%;
  }
  .cabecalho__menu{
    justify-content: center;
  }

  .apresentacao{
    flex-direction: column;
    padding: 5%;
  }
  .apresentacao__conteudo{
    width: auto;
  }
}